auto-save-list/
elpa/
snippets/
var/
request/

*~
\#*\#
.\#*
*.ZILESAVE
session.*
README.el
README.html
README.pdf
custom.el
projectile-bookmarks.eld
.mc-lists.el
.org-id-locations

# symlinks
.trello
.trello/

