auto-save-list/
elpa/
elpa24/
elpa25/
snippets/
var/
request/
.cache/
straight/
transient/
early-init-do-not-edit/


*~
\#*\#
.\#*
*.ZILESAVE
session.*
README.el
README.html
README.pdf
custom.el
projectile-bookmarks.eld
ac-comphist.dat
.mc-lists.el
.org-id-locations
.lsp-session-*
.dap-breakpoints
forge-database.sqlite

# symlinks
.trello
.trello/
