auto-save-list/
elpa/
snippets/
var/
request/
url/
.cache/
straight/
transient/
workspace/
early-init-do-not-edit/
eclipse.jdt.ls/
eln-cache/

*~
\#*\#
.\#*
*.ZILESAVE
session.*
README.el
README.html
README.pdf
projectile-bookmarks.eld
ac-comphist.dat
.mc-lists.el
.org-id-locations
.lsp-session-*
.dap-breakpoints
forge-database.sqlite
recentf
tramp
.last-package-update-day
org-roam.db
elgrep-data.el
